/* line 6, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
div.inf {
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  width: 600px;
  margin-bottom: 10px;
}

/* line 18, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
div.inf2 {
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  width: 600px;
  margin-top: -90px;
  margin-bottom: 100px;
}

/* line 29, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
.cont {
  margin-left: 700px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: -300px;
}

/* line 36, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
p {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  text-justify: inter-word;
}

/* line 44, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
h4.beauty {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

/* line 49, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
.pos {
  margin-top: -50px;
  margin-bottom: 100px;
}

/* line 54, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
.pos2 {
  margin-top: -250px;
  margin-bottom: 100px;
}

/* line 59, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
div.require {
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  heigth: 10px;
  width: 600px;
  margin-bottom: 50px;
  margin-top: -90px;
}

/* line 71, /home/teohoch/LeafIT-Web/app/assets/stylesheets/project.css.scss */
.tab {
  margin-left: 380px;
}
