/* line 5, /home/teohoch/LeafIT-Web/app/assets/stylesheets/us.css.scss */
.team {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  height: 500px;
}

/* line 15, /home/teohoch/LeafIT-Web/app/assets/stylesheets/us.css.scss */
div.info {
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
}

/* line 21, /home/teohoch/LeafIT-Web/app/assets/stylesheets/us.css.scss */
img.img-responsive {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 27, /home/teohoch/LeafIT-Web/app/assets/stylesheets/us.css.scss */
.span1 {
  width: 500px;
  margin-left: -15px;
}

/* line 32, /home/teohoch/LeafIT-Web/app/assets/stylesheets/us.css.scss */
.span2 {
  margin-left: 600px;
  width: 500px;
}
