// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.inf {
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  height: 300px;
  width: 600px;
  margin-bottom: 10px;
}

.cont{
	margin-left: 700px;
	margin-right: 100px;
	margin-bottom: 200px;
	margin-top: -300px;
}

div.require{
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  height: 50px;
  width: 600px;
  margin-bottom: 100px;

}

.pos{
	margin-top:-300px;
}
