// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.inf {
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 10px;

}


div.inf2 {
  background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 100px;

}

.cont{
	margin-left: 700px;
	margin-right: 100px;

	margin-bottom: 100px;
}
p{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  text-justify: inter-word;
}

h4.beauty{
  font-family: 'Lobster', cursive;
  font-size: 20px
}



div.require{
background-color: #e0e3d7;
  border-style: solid;
  border-radius: 10px;
  heigth: 10px;
  width: 600px;
  margin-bottom:50px;
  margin-top: -90px;

	
}

.tab{
	margin-left:380px;
}

/***** Coming Soon *****/

.coming-soon {
  margin: 0 auto;

  text-align: center;
  color: #fff;
}

.inner-bg {
  padding: 10px 0 10px 0;
  background: transparent;
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
  box-shadow: transparent;
}

.coming-soon h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #86C67C;

}
.coming-soon h4{
  color: black;
}

.coming-soon h3 {
  margin-top: 20px;
  font-size: 25px;
  line-height: 36px;
  color: #86C600;
}

.timer {
  margin-top: 20px;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
  margin-bottom:100px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
  display: inline-block;
  width: 160px;
  height: 140px;
  margin: 0 10px;
  padding-top: 10px;
  background: #72ab68;
  background: rgba(114, 171, 104, 0.70);
  font-size: 18px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;

}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
  background: #86C67C image-url("pattern-2.png");
  text-shadow: none;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
  font-size: 80px;
  line-height: 90px;
}