
body {
  text-align: left;
  font-family: 'Lato', Arial, sans-serif;
  color: #555;
  font-weight: 400;
  border-top: 2px solid #86C67C;
  padding-top: 0px;
}

.tabpos{
  margin-top: 30px;
}

.sponsor{
  min-height: 20px;
  margin-top: -10px;
  position: relative;
  padding: 20px 0px;
  background-color: #1B772C;
}

.margen{
  margin-left: 40px;
  margin-right-right: 40px;
}
@media (max-width: 900px) {

  body {
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
  }


}






